body {
  background-color: #f7f7f7;
  font-family: sans-serif;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  max-width: 200px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
